<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <meta name=apple-mobile-web-app-capable content=yes />
    <meta name=apple-touch-fullscreen content=yes />
    <meta name=format-detection content="telephone=no,email=no" />
    <meta name="full-screen" content="yes">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta name="renderer" content="webkit">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <meta name="x5-fullscreen" content="true">
</head>

<body>
    <div id="root">
    </div>
</body>

</html>